{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {% for empresa in empresas %}
        Proyectos {{empresa.Nombre}}<br>
    {% endfor %}
</h1>
<div class="container">
    {% for proyecto in proyectos %}
        <article class="message is-info" name={{proyecto.Id}}>
            <div class="message-header">
                <p>Historias proyecto {{proyecto.Nombre}}</p>
            </div>
            <div class="message-body">
                {% for historia in historias %}
                    {% if historia.Id_Proyecto == proyecto.Id %}
                        <article class="message is-dark">
                            <div class="message-body">
                                <p>{{historia.Descr}}</p>    
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        </article>
    {% endfor %}
</div>
{% endblock %}